@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --bgSoft: #cedbe6;
  --text: black;
  --textSoft: #e5e5e538;
  --btn: #2c4275;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}
