.container {
  display: flex;
  gap: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }
}

